clean
work
singularity
docker/.docker
.nextflow*
trace*
*log

# exclude data
data/
result/
*.tmp
*.gz

# exclude dir except certain files
bin/gwasplots/*
!bin/gwasplots/*.py

# exclude R files / directories
.Rproj.user
.Rhistory
.RData
*.Rproj

