// main script name
manifest.mainScript = 'mvgwas2.nf'

// use Nextflow DSL2
nextflow.enable.dsl=2

// small input dataset for testing
params {
    // common
    data_dir = "$baseDir/data"
    pheno = "$data_dir/eg.phenotypes.txt"
    geno = "$data_dir/eg.genotypes.vcf.gz"
    result_dir = "$baseDir/result"

    // MANTA
    manta_data_dir = "$baseDir/data/manta"
    manta_pheno = "$manta_data_dir/eg.phenotypes.txt"
    manta_geno = "$manta_data_dir/eg.genotypes.vcf.gz"
    cov = "$manta_data_dir/eg.covariates.txt"
    manta_out_prefix = "manta_sstats"

    // GEMMA
    maf = 0.01 // MAF filter
    threads = 1 // No. of threads
    
    // MTAR
    
    // MOSTest
    mostest_pheno = "$data_dir/eg.phenotypes.txt" // "pheno.txt"
    mostest_bfile = "genotypes" // "chr21"
    mostest_out_prefix = "mostest_results_$mostest_bfile"
    mostest_data_dir = "$baseDir/data/mostest"
    mostest_result_dir = "$baseDir/result"
}

// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Singularity is disabled by default and uses autoMounts when enabled
singularity {
    cacheDir = 'singularity'
    autoMounts = true
}

// Disable trace by default
trace.enabled = false // true

// Process configuration
// process {
    // Container ID in GitHub container registry
    //container = 'ghcr.io/dgarrimar/mvgwas-nf@sha256:8ebd34971bd6bf988b34e1dea29857a733e11d7265e5acda3a2cae22a456f754'
// }
